.rsltl {
    margin-left: 10px;
    overflow-x: auto ; /* Enable horizontal scrolling */
    white-space: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Prevent items from wrapping */
  }
  .rsltl1::-webkit-scrollbar {
    display: none;
  }
  .frame1 {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap;
    display: inline-flex; /* Display items as inline-flex */
    flex-direction: row;
    gap: 20px;
    padding: 9px 0px 11px 10px;
  }
  
  .eachf {
    background-image: url("../../img/ellipse-1.svg");
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-right: 10px; /* Add spacing between items */
  }
  
  .fitem1 {
    font-family: ClashDisplay-Bold;
    font-size: 9px;
    color: #FFF;
    word-wrap: break-word;
    margin: 0;
    text-align: center;
    line-height: 110px; /* Center the text vertically */
  }
  .linkey
  {
    font-family: ClashDisplay-Bold;
    font-size: 12px;
    color: #FFF;
    margin: 0;
    text-align: center;
    padding-left: 20px;
    line-height: 110px;
    text-decoration: none;
  }