@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('../fonts/ClashDisplay-Bold.otf') format('woff');
    /* You can include other font formats here if needed */
  }
  @font-face {
    font-family: 'ClashDisplay-reg';
    src: url('../fonts/ClashDisplay-Regular.otf') format('woff');
    /* You can include other font formats here if needed */
  }
.ellamellam
{
    background-color:#FFE7E9 !important;
    height: 100vh;
        overflow-y: auto;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
            margin-bottom: 40px;

  }
  .grid-item {
    background-image: url("../img/ellipse-1.svg");
    background-size: contain;
    display: block;
    justify-content: center;
    width: 150px;
    height: 150px;
    padding: 20px;
    text-align: center;
  }
  .grid-item p{
    color: #FFF;
text-align: center;
font-family: "ClashDisplay-Bold";
font-size: 23px;
font-style: normal;
font-weight: 700;
margin-top: 25px;
  }

    button {
  background-color: #980113; 
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}