
@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('../fonts/ClashDisplay-Bold.otf') format('woff');
  /* You can include other font formats here if needed */
}
@font-face {
  font-family: 'ClashDisplay-reg';
  src: url('../fonts/ClashDisplay-Regular.otf') format('woff');
  /* You can include other font formats here if needed */
}

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Joti+One&display=swap');

ion-content{

    --ion-background-color:#FFE7E9;
}
.logog
{
  height: 40px;
  width: auto;
}

.header {
  display: flex;
  font-family: "Joti One", serif;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
}
.header p{
  margin: 0;
}
.livee
{
  font-family: ClashDisplay-reg;
  position: relative;
  
}
.lvp
{
  position: absolute;
    top: 75px;
    left: 33px;
    padding: 10px;
     /* Optional: Add some padding for better visibility */
}
.ln
{
  margin: 0;
  position: absolute;
  top: -7px;
  font-size: 15px;
  color: #ffffff;
  
}
.item1
{
  font-family: ClashDisplay-Bold;
  font-size: 24px;
  margin: 0;
  color: #ffffff;
  text-align: left;
}
.dumy
{
  width: 15px;
  height: 15px;
  position: relative;
  top:2px;
}
.shoo
{
  height: 2px;
  width: 99px;
  background: linear-gradient(90deg, #180003 0%, #FFDFE2 100%);
  margin-bottom: 10px;
}
.rhd
{
  margin-bottom: 4px;
  color: #180003;

font-family: "ClashDisplay-Bold";
font-size: 28px;
}
.rsltl {
  margin-left: 10px;
  overflow-x: auto ; /* Enable horizontal scrolling */
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Prevent items from wrapping */
}
.rsltl1::-webkit-scrollbar {
  display: none;
}
.frame1 {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap;
  display: inline-flex; /* Display items as inline-flex */
  flex-direction: row;
  gap: 20px;
  padding: 9px 0px 11px 10px;
}

.eachf {
  background-image: url("../img/ellipse-1.svg");
  width: 130px;
  height: 130px;
  margin-right: 10px; /* Add spacing between items */
}

.fitem1 {
  font-family: ClashDisplay-Bold;
  font-size: 16px;
  color: #FFF;
  margin: 0;
  text-align: center;
  line-height: 130px; /* Center the text vertically */
}
.streg
{
  color: #FFF;

font-family: ClashDisplay-reg;
font-size: 20px;
margin: 0;
}
.stbold
{
  font-family: ClashDisplay-Bold;
  color: #FFF;
font-size: 48px;
margin: 0;
}
.upsn
{
  width: 101px;
height: 99px;
border-radius: 13px;
background: #980113;
box-shadow: 0px 4px 7.3px 0px rgba(255, 171, 150, 0.30);
justify-content: center;
}
.upsf
{
  border-radius: 19px;
background: #FFDFE2;
box-shadow: 0px 0px 23.6px 1px rgba(152, 1, 19, 0.32);
padding-left: 8px;
padding-top: 8px;
padding-bottom: 8px;
width:295px;
display: flex;
flex-direction: row;
gap: 10px;
}
p{
  margin: 0;
}
.upsd h2
{
  font-family: ClashDisplay-Bold;
  color: #180003;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 10px;
}
.upsd p{
  font-family: ClashDisplay-reg;
  color: #180003;
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 400;
}
.upev {
  
  display: inline-flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px; /* Adding padding for better spacing */
  margin: 0px; /* Centering the container */
  width: fit-content; /* Adjusting container width based on content */
}
.ucontainer
{overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Prevent items from wrapping */
}
.ucontainer::-webkit-scrollbar {
  display: none;
}

  