@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../fonts/ClashDisplay-Bold.otf") format("woff");
}
@font-face {
  font-family: "ClashDisplay-reg";
  src: url("../fonts/ClashDisplay-Regular.otf") format("woff");
}

ion-content{

  --ion-background-color:#FFE7E9;
}

body {
  background-color: #ffdfe2;
  font-size: 9px;
}

.resultheader {
 font-family: ClashDisplay-Bold;
 margin: 4px;
 margin-top: 30px;
}
th {
  padding-top: 10px !important;
  font-family: ClashDisplay-Bold;
}
td {
  text-align: center;
  word-break: break-all;
}

table {
  margin-top: 40px;
  width: 400px;
  height: 187px;
  flex-shrink: 0;
  border-collapse: separate;
  border: 1px #ffdfe2 solid;
  box-shadow: 0px 0px 23.6px 1px rgba(152, 1, 19, 0.32);
  border-radius: 20px;
  font-family: ClashDisplay-reg;
}

.headerhr {
  border-top: 1px solid rgba(24, 0, 3, 0.28);
}
.rowshr {
  border-top: 2.5px dashed rgba(15, 1, 2, 0.1);
}

.place1 {
  border-radius: 4px;
  border: 1px solid #ffd700;
  padding: 3px 0 3px 0;
  width: 50px;
  margin-top: 10px;
  margin-left: 30%;
  float: left;
  background: rgba(255, 215, 0, 0.31);
}

.place2 {
  border-radius: 4px;
  border: 1px solid #c0c0c0;
  padding: 3px 0 3px 0;
  width: 50px;
  margin-top: 10px;
  margin-left: 30%;
  float: left;
  background: rgba(192, 192, 192, 0.31);
}

.place3 {
  border-radius: 4px;
  border: 1px solid #cd7f32;
  padding: 3px 0 3px 0;
  width: 50px;
  margin-top: 10px;
  margin-left: 30%;
  float: left;  background: rgba(205, 127, 50, 0.31);
}

.imgevent {
  border-radius: 18px;
  width: 396px;
  height: 152px;
  background: linear-gradient(
      0deg,
      rgba(24, 0, 3, 0.54) 0%,
      rgba(24, 0, 3, 0.54) 100%
    ),
    url("https://mir-s3-cdn-cf.behance.net/projects/404/8480c1136186033.Y3JvcCwxNzQ1LDEzNjUsMTUxLDA.jpg")
      lightgray 50% / cover no-repeat;
  position: relative;
}

.eventname {
  position: absolute;
  left: 0;
  right: 0;
  top: 173px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  z-index: 20;
  color: #fff;
  font-family: ClashDisplay-Bold;
  font-size: 32px;
}

.shooresult {
  height: 2px;
  width: 99px;
  background: linear-gradient(90deg, #180003 0%, #ffdfe2 100%);
  margin-bottom: 40px;
}
